[Unit]
Description=video
After=syslog.target

[Service]
WorkingDirectory=/root/IBM-5291
ExecStart=/bin/sh ./start-xvfb
#Restart=always

[Install]
WantedBy=multi-user.target
